<div id="<%= dom_id time_entry %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Timesheet:</strong>
    <%= time_entry.timesheet_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Job:</strong>
    <%= time_entry.job_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Work date:</strong>
    <%= time_entry.work_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Hours:</strong>
    <%= time_entry.hours %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= time_entry.notes %>
  </div>
</div>
